cycler
joblib
kiwisolver
llvmlite
matplotlib
nibabel
nilearn
numba
numpy
packaging
pandas
patsy
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
statsmodels
threadpoolctl
ujson
coinstac
jsonpickle